<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
    <h1 class="title">Agregar Prueba</h1>
  </ion-header-bar>
  <ion-content>
    <form class="list" ng-submit="submitTest()"  ng-init="vm.testForm = {}">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Prueba</span>
        <input type="text" ng-model="vm.testForm.name" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fecha</span>
        <input type="date" ng-model="vm.testForm.date" placeholder="">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Recordar:
        </div>
        <select ng-model="vm.testForm.before_time">
          <option value="DIA_INDICADO">Dia indicado</option>
          <option value="1D">1D antes</option>
          <option value="2D">2D antes</option>
          <option value="2D">3D antes</option>
        </select>
      </label>

      <button type="submit" class="button button- block button-assertive button-add">
        Agregar Prueba
      </button>
    </form>
  </ion-content>
</ion-modal-view>
