<ion-view view-title="Notas" cache-view="false">
  <ion-content>

    <div class="list">

      <a class="item item-thumbnail-left" ng-repeat="note in vm.notes" ng-click="vm.fnUpdateNote(note.id)">
        <img src="cover.jpg">
        <h2>{{note.name}}</h2>
        <p>{{note.description}}</p>
        <p>{{note.alarm_start | date}}</p>
      </a>

    </div>

  </ion-content>

  <button class="button button-float" ng-click="vm.fnshowAction()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
