/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #666666  !default;
$positive:                        #666666 !default;
$calm:                            #666666  !default;
$balanced:                        #666666 !default;
$energized:                       #666666 !default;
$assertive:                       #0f9648 !default;
$royal:                           #0f9648 !default;
$dark:                            #000 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";


form
{
  position: relative;
  margin: 10px auto;
  width: 90%;
}
.bar-header{
  background-color:$assertive ;
  color:#Fff;
  .button.button-icon, .bar button.button-icon{
    color: #FFF;
  }
}
.bar .button.back-button, .bar button.back-button {
  color: #FFF;
}


$assertive :#0f9648;
.button-float{
  background: $assertive !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 65px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: darken($assertive, 10%) !important;
}

// added via yo m-ionic:component subgenerator
@import '../components/schedule/schedule-component';

// added via yo m-ionic:component subgenerator
@import '../components/test/test-component';
// added via yo m-ionic:component subgenerator
@import '../components/notes/notes-component';
// added via yo m-ionic:component subgenerator
@import '../components/forum/forum-component';
// added via yo m-ionic:component subgenerator
@import '../components/profile/profile-component';
// added via yo m-ionic:component subgenerator
@import '../components/tabs-course/tabs-course-component';
// added via yo m-ionic:component subgenerator
@import '../components/forum/forum-component';