<ion-view view-title="Foro"  cache-view="false">
  <ion-content>
    <div class="list card" ng-repeat="comment in vm.arrComment">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{comment.user.name}}</h2>
        <p>{{comment.created_at | date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          {{comment.description}}
        </p>
      </div>

    </div>
  </ion-content>

  <button class="button button-float" ng-click="vm.fnAddComment()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
