
<ion-tabs class="tabs-icon-top tabs-assertive">
  <!-- Subject Tab-->
  <ion-tab title="Tareas"  icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref="course.homeworks({id : vm.idMatter})">
    <ion-nav-view name="tab-homework" cache-view="false"></ion-nav-view>
  </ion-tab>
  <!-- Schedule Tab -->
  <ion-tab title="Pruebas" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" ui-sref="course.tests({id : vm.idMatter})">
    <ion-nav-view name="tab-prueba" cache-view="false"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Notas" icon-off="ion-ios-list" icon-on="ion-ios-list-outline"  ui-sref="course.notes({id : vm.idMatter})">
    <ion-nav-view name="tab-notes" cache-view="false"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Foros" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks"  ui-sref="course.forums({id : vm.idMatter})">
    <ion-nav-view name="tab-forums" cache-view="false" ></ion-nav-view>
  </ion-tab>

</ion-tabs>

