<ion-view view-title="Iniciar Sesión" class="bg">
  <div id="filter">
    <form id="login-content" class="list" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
      <label class="item item-input item-floating-label">
        <span class="input-label icon-left ion-email"> Correo: </span>
        <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"  placeholder="Correo"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label icon-left ion-locked"> Clave: </span>
        <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="Clave" />
      </label>

    <div id="buttons-login">
      <button type="submit" class="button button-full button-assertive">
        INGRESAR
      </button>
      <a href="#/register" class="button button-full button-assertive">
        REGÍSTRARTE
      </a>
    </div>

  </div>
  </form>
</ion-view>
