<ion-view view-title="Registrar" class="bg">
  <div id="filter">
    <form id="register-content" class="list has-header" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <label class="item item-input">
        <span class="input-label" >Nombre: </span>
        <input type="text" name="name" ng-model="registrationForm.name" required="required" class="form-control">
      </label>
      <label class="item item-input">
        <span class="input-label" >Correo: </span>
        <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control">
      </label>
      <label class="item item-input">
        <span class="input-label">Clave: </span>
        <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirmar Clave: </span>
        <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control">
      </label>
      <button type="submit" class="button button-block button-assertive">
        ENVIAR
      </button>
    </form>
  </div>
</ion-view>
