<ion-view view-title="Homework" cache-view="false">
  <ion-content>

    <div class="item item-divider">
      Tareas pendientes
    </div>

    <ion-list>
      <div ng-repeat="homework in vm.homeworksNoOk" ng-model="homework.id" ng-click="vm.fnHomeworkShowUpdate(homework.id)">
        <div class="card">
          <div class="item item-text-wrap">
            {{homework.description}}
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>

  <button class="button button-float" ng-click="vm.fnshowAction()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
