<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
    <h1 class="title">Agregar Tarea</h1>
  </ion-header-bar>
  <ion-content>
    <form class="list" ng-submit="submitHomework()"  ng-init="vm.homeworkForm = {}">



      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tarea</span>
          <textarea rows="15" ng-model="vm.homeworkForm.description" placeholder="Descripción ...">
        </textarea>
        </label>

        <label class="item item-input">
          <input type="date" ng-model="vm.homeworkForm.alarm_start" placeholder="Last Name">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Recordar:
          </div>
          <select ng-model="vm.homeworkForm.before_time">
            <option value="DIA_INDICADO">Dia indicado</option>
            <option value="1D">1D antes</option>
            <option value="2D">2D antes</option>
            <option value="2D">3D antes</option>
          </select>
        </label>

      </div>

      <button type="submit" class="button button-block button-assertive button-add">
        Agregar Tarea
      </button>
    </form>
  </ion-content>
</ion-modal-view>
