
.bg
{
  background-color: #000;
  background-image: url('../assets/images/bg3.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  #filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
  }
}

.bar-custom1
{
  background-color: #0f9648 !important;

}

.bar-custom2
{
  background-color: #0f9648 !important;

}

#login-content
{
  position: relative;
  width: 310px;
  height: 146px;
  top: 50%;
  margin: -73px auto;
  background: white;

}

#register-content
{
  position: relative;
  width: 310px;
  height: 204px;
  top: 50%;
  margin: -102px auto;
}
