<ion-view view-title="Foros" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-plus-outline" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a href="#/main/courses"> <button class="button button-icon ion-ios-arrow-left" ng-click="modal.show()"></button></ion-nav-buttons></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://graph.facebook.com/10153451729570915/picture">
        <h2>Ezequiel Suárez Buitrago</h2>
        <p>Mayo 10, 2016</p>
      </div>

      <div class="item item-body">

        <p>
         Este es el foro de painless Class Recuerder entrar  a la pagina www.painlessclass.com
        </p>
        <p>
          <a href="#" class="subdued">1 Likes</a>
          <a href="#" class="subdued">5 Comentarios</a>
        </p>
      </div>


      <div class="list card">

        <div class="item item-avatar">
          <img src="http://graph.facebook.com/10153451729570915/picture">
          <h2>Ezequiel Suárez Buitrago</h2>
          <p>November 05, 1955</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="http://painlessclass.com/wp-content/uploads/2016/05/logo-painlessclass.png">
          <p>
            Painless Class foro
          </p>
          <p>
            <a href="#" class="subdued">150 Likes</a>
            <a href="#" class="subdued">5 Comentarios</a>
          </p>
        </div>

      </div>
      <div class="list card">

        <div class="item item-avatar">
          <img src="http://graph.facebook.com/10153451729570915/picture">
          <h2>Ezequiel Suárez Buitrago</h2>
          <p>November 05, 1955</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="http://www.ijisonline.org/IJPNI/Image/LOGO%20Universidad%20de%20Cundinamarca.jpg">

          <p>
            <a href="#" class="subdued">10 Likes</a>
            <a href="#" class="subdued">0 Comentarios</a>
          </p>
        </div>

      </div>


    </div>

  </ion-content>
</ion-view>
