<ion-view view-title="Horario">
  <ion-content>
    <div class="list">

      <div class="card" ng-repeat="matter in vm.matter" ng-click="vm.fnGoToMatterById(matter['matter'].id)">
        <div class="item item-divider">
          {{matter['matter'].name}}
        </div>
        <div class="item item-text-wrap" ng-repeat="schedule in matter['matter'].schedule">
          <span>inicio: </span><span>{{schedule.hora_inicio}}</span> /
          <span>fin: </span><span>{{schedule.hora_fin}}</span> /
          <span ng-if="schedule.dia == 1">Lunes</span>
          <span ng-if="schedule.dia == 2">Martes</span>
          <span ng-if="schedule.dia == 3">Miercoles</span>
          <span ng-if="schedule.dia == 4">Jueves</span>
          <span ng-if="schedule.dia == 5">Viernes</span>
          <span ng-if="schedule.dia == 6">Sabado</span>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
