<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <button class="button button-icon ion-ios-arrow-left" ng-click="modal.hide()">Atras</button>
    <h1 class="title">Materia</h1>
  </ion-header-bar>

  <ion-content>
    <form class="list" ng-submit="submitSubject(subjectForm)"  ng-init="subjectForm = {}">

     <label class="item item-input item-select">
        <div class="input-label">
          Carrera
        </div>
        <select ng-model="subjectForm.id_career">
          <option ng-repeat="career in vm.careers" ng-value="career.id">{{career.name}}</option>
        </select>
      </label>

      <li class="item item-toggle">
        Privada
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="subjectForm.private">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="subjectForm.name" placeholder="Matematicas">
      </label>

      <button type="button" ng-click="vm.fnScheduleShow()" class="button button-block button-assertive button-add">Agregar Hoario</button>

      <button type="submit" class="button button-block button-assertive button-add">
        Agregar Materia
      </button>

      <button type="button" ng-click="vm.fnGotoCreateCareer()" class="button button-block button-assertive button-add">
          Agregar Carrera
        </button>
    </form>
  </ion-content>
</ion-modal-view>
