<ion-view view-title="Materias" >

  <ion-content >
    <div class="list card" ng-repeat="item in vm.matter">
      <a ui-sref="course({id : item.id})" class="item item-icon-left">
        <i class="icon ion-ios-paper-outline">
        </i>
        {{item.name}}
      </a>
    </div>
  </ion-content>

  <button class="button button-float" ng-click="vm.fnshowAction()">
    <i class="icon ion-plus"></i>
  </button>

</ion-view>
