<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://graph.facebook.com/10153451729570915/picture">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/993882_10153754114360915_5632128284978777233_n.jpg?oh=498f0908b430675d690fc72ee07ff2b2&oe=57C79615">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
