<ion-view view-title="Horario">
  <ion-content>
    <!--<img style="width: 100%; height: auto;" src="http://orig15.deviantart.net/ae58/f/2012/177/7/6/nueva_tabla_para_horario_escolar_png_by_bloodyyani-d54yyxn.png">-->

  </ion-content>
</ion-view>
