
<ion-tabs class="tabs-icon-top tabs-assertive">
  <!-- Subject Tab-->
  <ion-tab title="Tareas"  icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref="course.homeworks({id : matter.id})">
    <ion-nav-view name="tab-homework"></ion-nav-view>
  </ion-tab>
  <!-- Schedule Tab -->
  <ion-tab title="Evaluaciones" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" ui-sref="course.tests({id : matter.id})">
    <ion-nav-view name="tab-prueba"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Notas" icon-off="ion-ios-list" icon-on="ion-ios-list-outline"  ui-sref="course.notes({id : matter.id})">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Foros" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks"  ui-sref="course.forums({id : matter.id})">
    <ion-nav-view name="tab-forums"></ion-nav-view>
  </ion-tab>

</ion-tabs>

