<ion-tabs class="tabs-icon-top tabs-assertive bar-custom2">

  <!-- Subject Tab-->
  <ion-tab title="Materias"  icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref="main.courses">
    <ion-nav-view name="tab-courses"></ion-nav-view>
  </ion-tab>
  <!-- Schedule Tab -->
  <ion-tab title="Horario" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" ui-sref="main.schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Perfil" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
