<ion-view view-title="Evaluaciones" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-plus-outline" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a href="#/main/courses">
      <button class="button button-icon ion-ios-arrow-left" ng-click="modal.show()"></button>
    </a>
  </ion-nav-buttons></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item" ng-repeat="test in vm.tests">
        <h2>{{test.name}}</h2>
        <p>{{test.date | date}}</p>
      </div>
    </div>


  </ion-content>
</ion-view>
