
<ion-view view-title="Tareas" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-plus-outline" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
   <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
  </ion-nav-buttons>

  <ion-content>
    <h4>Tareas Pendientes</h4>
    <ion-list>
      <ion-checkbox ng-repeat="homework in vm.homeworks" ng-model="vm.filter[$index+1]" ng-hide="vm.filter[$index+1]">
        {{homework.name}}
      </ion-checkbox>
    </ion-list>
    <h4>Tareas Realizadas</h4>
    <ion-list>
      <ion-checkbox ng-repeat="homework in vm.homeworks" ng-model="vm.filter[$index+1]" ng-show="vm.filter[$index+1]">
        {{homework.name}}
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
