<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
    <h1 class="title">Agregar Nota</h1>
  </ion-header-bar>
  <ion-content>
    <form class="list" ng-submit="submitNote()"  ng-init="vm.noteForm = {}">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nota</span>
        <input type="text" ng-model="vm.noteForm.name" placeholder="Hacer...">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Descripcion</span>
        <input type="text" ng-model="vm.noteForm.description" placeholder="">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Fecha</span>
        <input type="date" ng-model="vm.noteForm.alarm_start" placeholder="">
      </label>


      <label class="item item-input item-select">
        <div class="input-label">
          Recordar:
        </div>
        <select ng-model="vm.noteForm.before_time">
          <option value="DIA_INDICADO">Dia indicado</option>
          <option value="1D">1D antes</option>
          <option value="2D">2D antes</option>
          <option value="2D">3D antes</option>
        </select>
      </label>

      <div class="button-bar">

          <button type="button" class="button button-assertive icon ion-ios-camera-outline" ng-click="vm.fnCamera()"></button>


      </div>

      <button type="submit" class="button button-block button-assertive button-add">
        Agregar Nota
      </button>
    </form>
  </ion-content>
</ion-modal-view>
