<ion-view view-title="Carrera" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
  </ion-nav-buttons>
  <ion-content>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="vm.data" required>
      </label>

    <button type="button" ng-click="vm.fnCreateCareer()" class="button button-block button-assertive button-add">
      Agregar
    </button>
  </ion-content>

</ion-view>
