<ion-view view-title="Evaluaciones" cache-view="false">
  <ion-content>

    <div class="card" ng-repeat="test in vm.objTest" ng-click="vm.fnTestShowUpdate(test.id)">
      <div class="item item-divider">
        {{test.description}}
      </div>
      <div class="item item-text-wrap">
        {{test.alarm_start || date}}
      </div>
    </div>

  </ion-content>

  <button class="button button-float" ng-click="vm.fnshowAction()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
