<ion-view view-title="Notas" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-plus-outline" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a href="#/main/courses"> <button class="button button-icon ion-ios-arrow-left" ng-click="modal.show()"></button></ion-nav-buttons></a>
  </ion-nav-buttons>
  <ion-content>

    <div class="list card">
      <div class="item item-body" ng-repeat="note in vm.notes">
        <h2>{{note.name}}</h2>
        <p>{{note.date | date}}</p>
        <p>{{note.description}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
