<ion-view view-title="Materias"  cache-view="false">
  <ion-nav-buttons>
    <button class="button button-icon ion-ios-arrow-left" ng-click="vm.fnBack()">Atras</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Carrera
        </div>
        <select ng-model="vm.id_career" ng-change="vm.fnSetCareer(vm.id_career)">
          <option ng-repeat="career in vm.careers" ng-value="career.id">{{career.name}}</option>
        </select>
      </label>


    </div>

    <div  ng-repeat="matter in vm.matters">
      <div class="item item-button-right">
        {{matter.name  || "-"}}
        <button class="button button-positive" ng-click="vm.fnSubscription(matter.id)">
          <i class="icon ion-plus-round"></i>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
