<ion-view view-title="Carreras" >

  <ion-content>

    <div class="list">

      <div class="item item-button-right" ng-repeat="career in vm.allCareers">
        {{career.name}}
        <button class="button button-positive" ng-click="vm.fnDeleteCareer(career.id)">
          <i class="icon ion-ios-trash"></i>
        </button>

      </div>

    </div>
  </ion-content>

</ion-view>
